<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
    <div>
        <center>
                <p>welcome to edit page</p>
                <p>Do you want to change user detail</p>
                {%  for user_name in user_Name %}
                    <label style="position: relative; top: 00px; left: 100px">{{ user_name }}</label>
                {% endfor %}



            <form action="http://127.0.0.1:5000/edit_page" method="post">
                <label style="position: relative; top:50px">User Name</label>
                <input type="text" name="edit_user_name" value={{ user_Name }}  style="padding: 10px; position: relative; left: 10px; top: 50px"><br>
                <label style="position: relative; top: 100px; ">Password</label>
                <input type="text" name="edit_password" value= {{ pasword }} style="padding: 10px; position: relative; left: 18px; top: 100px">
                <input type="submit" name="submit" style="left: 40px; top: 150px; position: relative; border: 2px solid #008CBA;
                    background-color: white; width: 100px; height: 30px">
            </form>
            <form action="" method="get">
                 <a href="/"><input type="button" value="back" style="left: 40px; top: 200px; position: relative; border: 2px solid #008CBA;
                    background-color: white; width: 100px; height: 30px"></a>
            </form>

        </center>
    </div>
</body>
</html>