<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
    <form action ="http://127.0.0.1:5000/new_login" method="post">
        <center>
            <h2 style="position = relative; height: 45px">Welcome to Fantasy World</h2>
            <h3 style="position = relative; height: 45px">We give assure you enjoy this trip</h3>

            <label style="font-size: 20px">User Name:</label>
            <input type="text" name="name" style="padding: 10px;" ><br><br>

            <label style="font-size: 20px; width: 100px">Password:</label>
            <input type="password" name="password" style="padding: 10px; left: 8px; position: relative"><br><br>

            <input type="submit" name="submit" style="left: 40px; position: relative; border: 2px solid #008CBA;
                background-color: white; width: 100px; height: 30px"><br><br>

            <a href="/login"><input type="button" value="Already have an account?" style="position: relative; left: 40px;
                background-color: white; width: 200px; height: 30px; border: 2px solid #008CBA;"></a>
        </center>
    </form>
</body>
</html>